body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}

form {
    text-align: center;
}

#forecast {
    padding-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lavenderblush;
}

#pic {
    max-width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}